@media (min-width: 769px) {
  :root {
    --h1-font-size: 6.5rem;
    --h2-font-size: 1.6rem;
    --content-width: 46rem;
    --content-line-height: 1.625;
    --video-vertical-padding: 7vh;
  }

  .article-footer form > * + * {
    margin-left: 1em;
  }

  blockquote::before {
    content: "“";
    display: inline-block;
    font-size: 4rem;
    font-family: "Helvetica", "Arial", sans-serif;
    position: absolute;
    left: -1.8rem;
    top: -.5rem;
    opacity: .75;
  }
}

@media (max-width: 768px) {
  :root {
    --h1-font-size: 9vh;
    --h2-font-size: 4vh;
    --content-width: auto;
    --content-line-height: 1.5;
    --video-vertical-padding: 2vh;
  }

  .article-footer form {
    flex-flow: column;
  }

  .article-footer form > * + * {
    margin-top: 1em;
  }

  .video-section:not(.hero) h2 {
    font-variant: all-small-caps;
  }

  .no-mobile {
    display: none;
  }

  .mobile-break {
    display: block;
  }

  .mobile-uppercase {
    text-transform: uppercase;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-size: 16px;
}

.citation {
  font-size: .75rem;
  margin-top: .5rem;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

strong.subtle {
  font-weight: 500;
}

.collapse-top-margin {
  margin-top: 0 !important;
}

.collapse-bottom-margin {
  margin-bottom: 0 !important;
}

section {
  display: flex;
  position: relative;
}

.video-section.hero {
  min-height: 65vh;
}

.video-section.hero video {
  filter: brightness(.85);
}

section.content {
  flex-flow: column;
}

.video-section {
  display: flex;
  position: relative;
  color: white;
  font-weight: bold;
  min-height: 10vh;
  display: flex;
  flex-flow: column;
  padding: 3vh;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 1;
}

.video-section::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  z-index: 1;
}

.video-section::after {
  height: 2rem;
  bottom: 0;
}

.video-section h1 {
  font-variant: all-petite-caps;
  font-size: var(--h1-font-size);
  margin-bottom: .5rem;
  line-height: 1;
  text-shadow: 1px 0 10px rgba(56, 56, 56, 0.85);
  letter-spacing: 0.025em;
  color: rgba(255, 255, 255, 0.92);
}

.video-section h2 {
  font-size: var(--h2-font-size);
  font-weight: 400;
  font-variant: small-caps;
  margin-top: 0;
  padding-left: .25em;
  text-shadow: 1px 0 10px #383838;
  letter-spacing: .05em;
  line-height: 1.1;
}

.video-section video {
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.video-section video.flip {
  transform: scaleX(-1);
}

article > h1,
article > h2,
article > h3,
article > .center,
article > blockquote,
article > p,
.article-subsection > h1,
.article-subsection > h2,
.article-subsection > h3,
.article-subsection > .center,
.article-subsection > blockquote,
.article-subsection > p {
  margin: 1rem auto;
  width: var(--content-width);
  padding: 0 1rem;
  max-width: 100%;
  line-height: var(--content-line-height);
}

.article-subsection {
  padding-bottom: 1.5rem;
}

article .video-section:not(.hero) {
  /* margin: 2em 0; */
  padding: var(--video-vertical-padding) 3vh;
}

article .video-section:not(.hero) h2 {
  width: var(--content-width);
  margin: 0 auto;
  padding: 0;
  font-weight: 500;
  font-size: calc(var(--h2-font-size) * 1.3);
  line-height: 1;
}

p.first-letter::first-letter {
  font-size: 1.25rem;
  font-family: Georgia, serif;
}

blockquote {
  font-weight: 600;
  padding: 1rem;
  position: relative;
}

.article-header {
  display: flex;
  margin: 1em auto .75em;
  width: var(--content-width);
  padding: 0 1em;
  border-bottom: 2px solid #1d1d1d;
  padding-bottom: 0.75em;
}

.article-header .avatar {
  flex: 0 0 auto;
  display: inline-block;
  border-radius: 50%;
  height: 3.6rem;
  width: 3.6rem;
}

.article-header .details {
  margin-left: 1em;
  margin-top: .1em;
}

.article-header .name {
  font-weight: 500;
}

.article-header .summary {
  color: #e8e8e8;
  font-size: .9rem;
}

.article-header .date {
  color: #848484;
  font-variant: all-small-caps;
  font-size: .9rem;
}

.article-footer {
  background: #1d1d1d;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2rem 1rem 2.5em;
}

.article-footer form {
  display: flex;
}

.article-footer input[type="email"] {
  padding: 1em;
  font-size: 0.9rem;
  height: 3rem;
  display: inline-block;
  margin: 0;
  background: transparent;
  color: inherit;
  border: 2px dashed #eee;
  font-family: inherit;
  min-width: 270px;
  max-width: 100%;
  flex: 0 1 auto;
}

.article-footer input[type="email"]:focus {
  outline: none;
  border-color: white;
}

.article-footer .button {
  flex: 0 0 auto;
  border: none;
  background: #00d8a6;
  color: white;
  font-weight: 500;
  font-family: inherit;
  padding: 0 1.3rem;
  height: 3rem;
  display: inline-block;
  font-size: .9rem;
  font-variant: all-small-caps;
  font-size: 1.2rem;
}

.more-links h2 {
  margin: 0;
}

.more-links p {
  font-size: .95rem;
}

.more-links a {
  font-weight: 600;
}

.more-links .link-group + .link-group {
  margin-top: .5rem;
}

.more-links .source {
  font-size: .9rem;
}

.emoji-group {
  display: flex;
  line-height: 1;
}

.bubble {
  display: flex;
  align-content: center;
  background-color: whitesmoke;
  padding: 0 0.8rem;
  border-radius: 1rem;
  transform: translate3d(0, -0.8rem, 0);
  font-weight: 600;
  position: relative;
  color: black;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 2.2;
}

.bubble::before {
  display: inline-block;
  position: absolute;
  content: " ";
  background-color: whitesmoke;
  border-radius: 100%;
  height: 0.5rem;
  width: 0.5rem;
  left: -0.6rem;
  z-index: 5;
  bottom: 0;
}

.share-buttons {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  padding: 0 0.9rem !important;
}

.share-buttons .share-button {
  color: #000;
  height: 1.5rem;
  width: 1.5rem;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.share-buttons .share-button:not(:last-child) {
  margin-right: 1rem;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1.5rem;
  overflow: visible;
  vertical-align: -.125em;
  fill: #fff
}

.svg-inline--fa.fa-w-10 {
  width: .625em;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-16 {
  width: 1.5rem;
}

/* .reveal-on-scroll {
  opacity: 0;
  transform: translate3d(0, -1rem, 0);
  transition-duration: .7s;
  transition-timing-function: ease-in;
  transition-property: opacity, transform;
}

.reveal-on-scroll.revealed {
  transform: translate3d(0, 0, 0);
  opacity: 1;
} */
/* .video-section[data-section="ghost"]::before {
  background-image: linear-gradient(to top, transparent 0% , #fff 100%);
} */

.article-subsection[data-section="intro"] {
  background: #010001;
  color: #e0e0e0;
}

.video-section[data-section="intro"]::after {
  background-image: linear-gradient(to bottom, transparent 0% , #010001 100%);
}

.article-subsection[data-section="ghost"] {
  background: #081b2a;
  color: #e0e0e0;
}

.video-section[data-section="ghost"]::after {
  background-image: linear-gradient(to bottom, transparent 0% , #081b2a 100%);
}

.article-subsection[data-section="solutions"] {
  background: #181f27;
  color: #e0e0e0;
}

.video-section[data-section="solutions"]::after {
  background-image: linear-gradient(to bottom, transparent 0% , #181f27 100%);
}
